.table td.small {
    width: 130px;
}

.table tr td {
    height: 22px;
}

.table #add_tld_row {
    display: none;
}

.table .icon {
    width: 17px;
    min-width: 17px;
    max-width: 17px;
}

.table tfoot tr td {
    border-top: 2px solid #e1e1e1;
    background: #f5f5f5;
}

.table tfoot tr td a.close {
    color: #656565;
}

.common_box_modal {
    border: 0px;
    background: transparent;
}

.common_box_modal .qtip-titlebar {
    display: none;
}

.common_box_modal .common_box {
    margin: 0px;
}

.common_box_modal .common_box .shadow {
    display: none;
}

.tabs_content .main_tab {
    display: none;
}

.tab_slider ul li:hover {
    cursor: pointer;
}

#meta_tld .modal_page h1 {
    font-size: 1.5rem;
}

#meta_tld .modal_page p {
    margin-left: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#meta_tld .error_box {
    border-radius: 0px;
}

#meta_tld .error_box p {
    margin-bottom: 0px;
}

#meta_tld .page_meta h1 {
    font-size: 1.5rem;
}

#meta_tld .text-center i {
    font-size: 55px;
}