.table td.small {
    width: 130px;
}

.table tr td {
    height: 22px;
}

.table tr.locked td {
    background: #f9f9f9;
    opacity: 0.5;
    pointer-events: none;
}

.table #add_tld_row {
    display: none;
}

.table .icon {
    width: 17px;
    min-width: 17px;
    max-width: 17px;
}

.table tfoot tr td {
    border-top: 2px solid #e1e1e1;
    background: #f5f5f5;
}

.table tfoot tr td a.close {
    color: #656565;
}

.common_box_modal {
    border: 0px;
    background: transparent;
}

.common_box_modal .qtip-titlebar {
    display: none;
}

.common_box_modal .common_box {
    margin: 0px;
}

.common_box_modal .common_box .shadow {
    display: none;
}

.tabs_content .main_tab {
    display: none;
}

.tab_slider ul li:hover {
    cursor: pointer;
}

#meta_tld .modal_page h1 {
    font-size: 1.5rem;
}

#meta_tld .modal_page p {
    margin-left: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#meta_tld .error_box {
    border-radius: 0px;
}

#meta_tld .error_box p {
    margin-bottom: 0px;
}

#meta_tld .page_meta h1 {
    font-size: 1.5rem;
}

#meta_tld .text-center i {
    font-size: 55px;
}

.tab_table {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 5px;
}

.tab_table_title {
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 7px 9px 0px 9px;
}

.tab_table_body {
    background: #fff;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

#tld_action label, #tld_action a {
    font-size: 11px;
}

.tld-box {
    border: 1px solid #DEE2E6;
    background: #F8F9FA;
    color: #656565;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.tld-box.success {
    border: 1px solid #C3E6CB;
    background: #D4EDDA;
    color: #165723;
}

.tld-box.success::before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
}

.tld-box.failed {
    border: 1px solid #F5C6CB;
    background: #F8D7DA;
    color: #721B24;
}

.tld-box.failed::before {
    content: '\f057';
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
}

.tld-box.current {
    border: 1px solid #BEE5EB;
    background: #D1ECF1;
    color: #155460;
}

.tld-box.current::before {
    content: '\f192';
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
}

.pad .error_section .error_box p {
    margin-bottom: -10px !important;
}
